/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fffefc;
	background-color: #151517;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #fffefc;
	color: #C14B4D;
}

.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 ;
  font-style: normal;
}


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300 ;
  font-style: normal;
}

.resume-main {
	background-color: #757578;
}

.resume-aside {
	background-color: #2f2f30;
	color: #fffefc;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	}

.language-bar {
	color:#fffefc;
	background-color:#757578;
	position: absolute;
	border: 4px #2f2f30;
	}

.progress-bar100 {
	height:100%;
	width:100%;
	background: #C14B4D; 
	}
.progress-bar75 {
	height: 100%;
	width:100%;
	background: linear-gradient(to right, #C14B4D 75%, #757578 75%);
}
.progress-bar50{
	height: 100%;
	width:100%;
	background: linear-gradient(to right, #C14B4D 50%, #757578 50%);
}
.progress-bar25{
	height: 100%;
	width:100%;
	background: linear-gradient(to right, #C14B4D 25%, #757578 25%);
	}

.biography-details li::before {
	color: #4a4947;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
